:root {
    --header: dodgerblue;
    --accent: orange;
    --lightGray2: slategrey;
    --offwhite2: whitesmoke;

    --darkBackground: #1f2937;
    --offwhite: #f9faf8;
    --lightGray: #e5e7eb;
    --blue: #3882f6;
    --darkBlue: #1f2937;
    --darkGreen: #15803d;

    --skyBlue: #38bdf8;
    --indigo: #05050788;
    --indigoBrighter: #45455f88;
    --red: #dc2626;
    --green: #16a34a;
    --lightGreen: #4ade80;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400,500,700");

body {
    width: 100vw;
    height: 100vh;
    margin: 0 0;

    color: var(--darkBlue);
    /* font-family: 'Roboto'; */
    font-family: Helvetica;
    font-weight: 400;
    font-size: 16px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 15fr;
    grid-template-areas: "header header" "sidebar main";
}
/* ============================ Generic ============================ */
/* ================================================================= */


/* ============================= Header ============================ */
/* ================================================================= */
.header {
    background-color: var(--header);
    padding: 5px;
    color: white;

    grid-area: header;
    box-shadow: 0px 4px 4px #0003;
    z-index: 2;
}

/* ============================ Sidebar ============================ */
/* ================================================================= */

.sidebar {
    grid-area: sidebar;

    font-size: 14px;
    background-color: var(--lightGray);
    box-shadow: 4px 4px 4px #0003;
    z-index: 1;

    display: grid;
    grid-template-rows: 15fr 1fr;
}
.sidebar>.list {
    /* border: 1px dotted yellowgreen; */
    padding: 15px;
    border-bottom: 1px solid #a9a9a9aa;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ========== Project Group ========== */
.project-group {
    border-radius: 5px;
    /* border: 1px dotted lightcoral; */
    padding: 5px;

    display: flex;
    flex-direction: column;
}
.project-group>* {
    border-radius: 5px;
    /* background-color: #ff800044; */
    padding: 2px;
}

/* ========== Project Container ========== */
.project-container {
    display: grid;
    grid-template-columns: 20px 5px 1fr;
    grid-template-areas: "icon .. title";
}
.project-container>.icon {
    grid-area: icon;

    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url('assets/project.svg');
    mask-image: url('assets/project.svg');
    background-color: var(--skyBlue);
    width: 20px;
    height: 20px;
}
.project-container>.title {
    grid-area: title;
    font-weight: 700;
}
.project-container[data-selected="true"],
.task-container[data-selected="true"] {
    background-color: lightgray;
}
.project-container>.title:hover,
.task-container>.title:hover
{
    filter: brightness(3.5);
}

/* ========== Task Container ========== */
.task-container {
    display: grid;
    grid-template-columns: 20px 5px 1fr;
    grid-template-areas: "checkbox .. title";
}
/* .sidebar .task-container>* {border: 1px dotted darkblue;} */
.task-container>.title {
    grid-area: title;
    align-self: center;
}
.task-container>.checkbox {
    grid-area: checkbox;

    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url('assets/checkbox-unchecked.svg');
    mask-image: url('assets/checkbox-unchecked.svg');
    background-color: var(--indigo);
    width: 20px;
    height: 20px;
}
.task-container>.checkbox[data-checked="true"] {
    -webkit-mask-image: url('assets/checkbox-checked.svg');
    mask-image: url('assets/checkbox-checked.svg');
}
.task-container>.checkbox:hover {
    background-color: var(--indigoBrighter);
}

/* ========== Bottom, New Project ========== */
.sidebar>.bot {
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.button-container {
    height: min-content;
    border-radius: 5px;
    border: 2px solid #0000;

    display: flex;
    align-items: center;
    gap: 5px;
}
#new-project-form>.icon {
    padding: 0;

    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-image: url('assets/add-project.svg');
    mask-image: url('assets/add-project.svg');
    background-color: var(--green);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.button-container:hover {border-color: var(--darkGreen);}
.button-container:active {background-color: rgba(255, 255, 0, 0.5);}
.button-container:hover>.icon {background-color: var(--lightGreen);}
.button-container>.text {white-space: nowrap; padding-right: 4px;}

/* ============================ Content ============================ */
/* ================================================================= */
div#content {
    background-color: var(--offwhite);
    padding: 15px;

    grid-area: main;

    display: flex;
    flex-direction: column;
}
div#content>.button {
    margin: 20px 0 0 0;
}
.card {
    padding: 20px 0;
    border-top: 2px solid lightgray;

    /* background-color: rgba(173, 216, 230, 0.216); */
    height: min-content;
}
.card:first-of-type {border-top: none;}
/* ======================== Project Display ======================== */
.project-display-container {
    padding: 40px;

    display: flex;
    flex-direction: column;
}
.project-display-container>.project-title {
    font-size: 24px;
    font-weight: 700;
}
#new-task-form {width: min-content;}
#new-task-form>.icon {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-image: url('assets/add.svg');
    mask-image: url('assets/add.svg');
    background-color: var(--green);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

/* ========================= Task Display ========================== */
.task-display-container {
    padding: 40px;

    display: grid;
    grid-template-rows: repeat(min-content, 5);
    grid-template-areas:
        "title"
        "desc"
        "dueDate"
        "prio"
        "delete";
}

.task-display-container>.task-title {
    grid-area: title;
    font-size: 24px;
    font-weight: 700;
}
#delete-task {
    grid-area: delete;
    width: min-content;
}
#delete-task>.icon {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-image: url('assets/delete.svg');
    mask-image: url('assets/delete.svg');
    background-color: var(--red);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
#delete-task:hover {border-color: var(--red);}
/* ========================= Project Display ========================== */